<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>. Check it out. It's awesome.
      <p>Hosted with <a href="https://www.netlify.com/">Netlify</a>. Check that out too, it is crazy cool.</p>
    </div>
  </div>
</footer>